<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.like.code.mapper.CodeMapper">

    <resultMap id="BaseResultMap" type="cn.like.code.entity.Code">
        <!--@Table -->
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="authentication" column="authentication" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>